

.movieContainer{
    display: flex;
    flex-direction: row;    
    margin-top: 1em;
    justify-content: space-between;
    gap: 1.5em;
}
.movieImage{
    border-radius: 1.5em;
}

.movieDetailsFigure{
    margin-right: 0em ;
    
}

.movieCard__link{
    text-decoration: none;
    
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    
    height: auto;
    max-width: 300px;
    margin: 0 auto;
}

.movieTitle{
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(58, 58, 209);
}

.back-link{
    text-decoration: none;
    font-size: 1.5em;  
}
.back-link>span{
    margin-left: 1em;    
}

.movieDetailsSection{
    padding: 0 ;
    display: flex;
    flex-direction: column;    
    
}
.details-row{
    
    flex-direction: row;
    justify-content: space-between;
    
}

.movieDetailsSection_description{
    width: 40%;
}

.movieDetails_disclaimer{
    font-size: 1em;
}

.movieDetailsSection_providers-container{
    display: flex;
    flex-direction: column;
}

.movieDetailsSection_providers{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.movieDetailsSection_providers_image{
    width: 4em;    
    height: auto;
    border-radius: 10px;
    margin: 0 0.2em;
}